@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

#app {
  width: 1200px;
  min-height: 100vh;
  background-color: beige;
  padding: 0.7rem 2rem;
}
