@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #9699ab;
}

#app {
  width: 1200px;
  min-height: 100vh;
  background-color: beige;
  padding: 0.7rem 2rem;
}

@layer utilities {
  .primary_input {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
  .label {
    @apply block mb-2 text-sm text-gray-300;
  }
  .primary-btn {
    @apply bg-green-600 rounded-lg text-sm;
  }
  .secondary-btn {
    @apply bg-transparent rounded-lg text-sm ring-1 ring-green-600 text-green-600;
  }
  .tetiary-btn {
    @apply bg-transparent rounded-lg text-sm ring-1 ring-red-600 text-red-600;
  }
}
